#parent{
  display: flex;
  justify-content: space-between;
  margin:auto;
  margin-left: 10px;
  margin-top: 10px;
}  
       
   
    #rightPart {
  display: inline;
  width: 16%;
  height: 262px;
  text-align: left;
  color: #2f3337;
  padding: 0px 0px 0px 0px;
  margin: 0px 181px 0px 0px;
  border: 1px solid #dadcdf;
  position: sticky;
}
#pay {
  width: 70%;
  height: 35px;
}


